@using xpos319.viewmodels;
@model PagInatedList<VMTblVariant>

@{
    ViewData["Title"] = "Variant Page";
}


<div class="card">
    <div class="card-body">

        <h1 class="card-title">@ViewData["Title"]</h1>

        <div class="row mb-3">
            <div class="col-12">
                <div class="d-flex justify-content-between">

                    <button type="submit" id="btn_create" class="btn btn-primary">Create</button>
                    <button type="submit" id="btn_multiple_delete" class="btn btn-primary" disabled>Delete Multiple</button>

                    <form asp-action="Index" asp-route-pageSize="@ViewBag.CurrentPageSize">
                        <div class="input-group w-100">
                            <input type="text" name="searchString" value="@ViewBag.CurrentFilter" class="form-control" placeholder="Search..">
                            <div class="input-group-prepend">
                                <button type="submit" class="input-group-text" title="search">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                            <div class="input-group-prepend">
                                <a class="input-group-text" asp-action="Index" title="reset">
                                    <i class="fas fa-redo"></i>
                                </a>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <table class="table table-hover mb-3">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewBag.NameSort">
                            <i class="fas fa-sort"></i>
                            Name Variant
                        </a>
                    </th>
                    <th>Name Category</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count != 0)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><input type="checkbox" onchange="selectedItem()" class="mychecked" value="@item.Id"/></td>
                            <td>@item.NameVariant</td>
                            <td>@item.NameCategory</td>
                            <td>@item.Description</td>

                            <td>
                                <a class="btn btn-warning btn_detail" dataid="@item.Id">Detail</a>
                                <a class="btn btn-success btn_edit" dataid="@item.Id">Edit</a>
                                <a class="btn btn-danger btn_delete" dataid="@item.Id">Delete</a>
                            </td>

                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="3">
                            <i>Data not found</i>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="card-footer">
        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }
        <div class="row">
            <div class="col-2">

                <form asp-action="Index" id="form_pagesize">
                    <select name="PageSize" id="PageSize"
                            class="form-control">
                        <option value="3">3</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                    </select>
                </form>
            </div>
            <div class="col-10">
                Page @Model.PageIndex of @Model.TotalPages
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewBag.CurrentSort"
                   asp-route-pageNumber="@(Model.PageIndex + 1)"
                   asp-route-currentFilter="@ViewBag.CurrentFilter"
                   asp-route-pageSize="@ViewBag.CurrentPageSize"
                   class="btn btn-info float-right @nextDisabled">
                    Next
                </a>
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewBag.CurrentSort"
                   asp-route-pageNumber="@(Model.PageIndex - 1)"
                   asp-route-currentFilter="@ViewBag.CurrentFilter"
                   asp-route-pageSize="@ViewBag.CurrentPageSize"
                   class="btn btn-info float-right @prevDisabled">
                    Previous
                </a>
            </div>
        </div>
    </div>

</div>

<script>

    //multiple checked - start
    var listId = [];

    function selectedItem(){
        var mychecked = $(".mychecked")
        listId = []

        for(var i=0; i < mychecked.length; i++){
            if(mychecked[i].checked){
                listId.push(mychecked[i].value)
            }
        }

        console.log(listId)


        if(listId.length > 0){
            $("#btn_multiple_delete").attr("disabled", false)
        }else{
            $("#btn_multiple_delete").attr("disabled", true)
        }
    }

    $("#btn_multiple_delete").click(function () {
        $("#modal_body").empty()
        $("#modal_body").load("/Variant/MultipleDelete", {listId : listId})
        $("#modal").modal("show")
    })

    //multiple checked - end


    $("#btn_create").click(function () {
        $("#modal_body").empty()
        $("#modal_body").load("/Variant/Create")
        $("#modal").modal("show")
    })

    $(".btn_detail").click(function () {
        var id = $(this).attr("dataid")
        $("#modal_body").empty()
        $("#modal_body").load("/Variant/Detail?id=" + id)
        $("#modal").modal("show")
    })

    $(".btn_edit").click(function () {
        var id = $(this).attr("dataid")

        $("#modal_body").empty()
        $("#modal_body").load("/Variant/Edit?id=" + id)
        $("#modal").modal("show")
    })

    $(".btn_delete").click(function () {
        var id = $(this).attr("dataid")
        //alert(id)
        $("#modal_body").empty()
        $("#modal_body").load("/Variant/Delete?id=" + id)
        $("#modal").modal("show")
    })

    $("#PageSize").val(@ViewBag.CurrentPageSize)

    $("#PageSize").change(function () {
        // $("form_pageSize").val("@ViewBag.CurrentSort")
        $("#form_pagesize").submit()
    })

</script>