@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Page Friend";
}

<div>
    <h1>Page Friend</h1>
    <p>ini halaman page friends</p>
</div>
<div>
    <a class="btn btn-outline-primary" asp-controller="Friend" asp-action="Create">Create</a>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">name</th>
                <th scope="col">address</th>
                <th scope="col">action</th>
            </tr>
        </thead>
        <tbody>

            @foreach(Friend item in Model) // kalo mau pake viewbage, fuctionnya ganti jadi ([nama-class]/ variabel [nama item] in [nama view bag ]
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Name</td>
                    <td>@item.Address</td>
                    <td>
                        <a class="btn btn-primary" asp-controller="Friend" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-secondary" asp-controller="Friend" asp-action="Detail" asp-route-id="@item.Id">Detail</a>
                        <a class="btn btn-danger" asp-controller="Friend" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
            
        </tbody>
    </table>
</div>
